// Structure
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-weight: 400;
}
body {
	background: url(/assets/images/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

a {
	color: #87868D;
	
	&:hover {
		color: #000;
		text-decoration: underline;
	}
}

#page {
	min-height: 500px;
}
body > form > .container {
	background-color: #fff;
}
.container {
	padding: 15px 15px 0;
}
.container>section.row>div {
	margin-bottom: 15px;
}

.main.container>section {
	margin-bottom: 15px;
}

.main.container>section.row {
	margin-bottom: 0;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h1, footer h2, footer h3 {
	font-size: 18px;
}
footer h4 {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 2px;
}

footer h4.list-label {
	border-bottom: 1px solid #000;
	margin-bottom: 12px;
}
footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
footer a {
	color: #000;
}

// Forms
.form-control {
	border-color: #000;
}
.btn-default {
	border-color: #000;
}
.btn-default:hover {
	background: #fff;
	border-color: #000;
}
.btn-green {
	background: $green;
}

// Typography
.condensed {
	font-family: $font-family-condensed;
	text-transform: uppercase;
}
h1, h2, h3, h4, h5 {
	font-weight: 700;
}
h1, h2, h3 {
	font-size: 24px;
}
h4, h5 {
	font-size: 14px;
	margin-bottom: 2px;
}

h1:first-child, h2:first-child, h3:first-child {
	margin-top: 0;
}

// Colors

.txt-red {
	color: $red;
}
.txt-green {
	color: $green;
}
.txt-blue {
	color: $blue;
}

.bg-red {
	background: $red;
}
.bg-green {
	background: $green;
}
.bg-blue {
	background: $blue;
}


// Helpers
.inline-item {
	display: inline-block;
}
.vertical-align-children {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.vertical-align-children>div {
	-webkit-align-self: center;
	align-self: center;
}
.button-wrapper {
	position: relative;
}

.img-responsive {
	width: 100%;
}

.error {
	border: 1px solid $red !important;
}

// Cookie-alert

.cookie-alert {
    text-align: center;
    background: #FFF9C3 none repeat scroll 0% 0%;
    padding: 10px 50px 1px;
    border-top: 1px solid #CCC;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 99999;
    
    button {
	    padding-left: 20px;
	    padding-right: 20px;
    }
}