// Dev styles

#browser {
	position: fixed;
	width: 250px;
	padding: 10px;
	border: 3px solid #000;
	border-left-width: 20px;
	right: -10px;
	top: 200px;
	background: #eee;
	z-index: 999999;
	box-shadow: 0 4px 4px rgba(0,0,0,0.6);
	transition: right 0.4s;
	cursor: pointer;
	font-weight: bold;
	border-radius: 10px;
	min-height: 200px;
}

#browser.closed {
	right: -220px;
	transition: right 0.4s;
}

#browser:before {
	position: absolute;
	content: "Quicklinks";
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: #fff;
	z-index: 1000;
	top: 45%;
	left: -48px;
}