// Stylesheet
.icon { 
	background-color: transparent;
	background-image: url(/assets/images/icons_v2.png); 
	background-image: linear-gradient(transparent, transparent), url(/assets/images/icons_v2.svg);
	box-sizing: content-box;
	position: relative;
	padding: 0;
	border: none;
}

.tagline, .customer-white { height: 20px; }
.cart-small, .user-white { height: 16px; }
.prev, .next { width: 61px; height: 61px; }
.go-large-red, .down-grey, .go-large-grey { width: 41px; height: 41px; }
.down-small, .go-square-black-small { width: 26px; height: 26px; }
.twitter, .facebook { width: 25px; height: 25px; }
.search, .go-green, .cart-green, .preview, .issue, .gift, .e-circle, .user-circle, .d-circle, .main .cart { 
	width: 58px; 
	height: 58px;
}

.dintidning-se { background-position: -33px -701px; width: 200px; height: 52px; }
.dintidning-se-egmont { background-position: -33px -701px; width: 200px; height: 72px; }
.tagline { background-position: -32px -625px; width: 201px; }
.arrow-black { background-position: -300px -297px; width: 16px; height: 57px; }
.customer-service-bubble { background-position: -33px -301px; width: 171px; height: 176px; }
.check-circle { background-position: -157px -251px; width: 35px; height: 35px; }
.prev { background-position: -32px -221px; }
.next { background-position: -182px -171px; }
.down-small { background-position: -105px -238px; }
.go-large-red { background-position: -254px -236px; }
.down-grey { background-position: -222px -297px; }
.go-large-grey { background-position: -198px -236px; }
.go-square-black-small { background-position: -221px -126px; }
.search { background-position: -34px -151px; }
.customer-white { background-position: -36px -124px; width: 20px; }
.close { background-position: -234px -359px; width: 23px; height: 23px; }
.zoom { background-position: -270px -120px; width: 39px; height: 39px; }
.logo { background-position: -37px -25px; width: 209px; height: 80px; }
.camera { background-position: -228px -405px; width: 29px; height: 29px; }
.star { background-position: -147px -486px; width: 19px; height: 18px; }
.twitter { background-position: -228px -472px; }
.facebook { background-position: -228px -442px; }
.cart-small { background-position: -95px -146px; width: 17px; }
.order { background-position: -36px -490px; width: 98px; height: 38px; }   //Manually adjusted!!
.go-green { background-position: -256px -171px; }
.cart-green { background-position: -107px -171px; }
.preview { background-position: -102px -542px; }
.issue { background-position: -169px -542px; }
.gift { background-position: -32px -542px; }
.e-circle { background-position: -300px -365px; }
.user-white { background-position: -93px -124px; width: 13px; }
.user-circle { background-position: -238px -542px; }
.d-star { background-position: -169px -125px; width: 40px; height: 40px; }
.d-white-circle { background-position: -118px -125px; width: 36px; height: 36px; }
.d-circle { background-position: -300px -455px; }
.downarrow-white { background-position: -346px -132px; width: 8px; height: 9px; }


// Inline icons
.icon.inline-icon {
	display: inline-block;
	vertical-align: middle;
	top: -1px;
	margin: 0px 6px 0px 0px;
}

.customer-white {
	margin-bottom: -1px;
}



// Icon Shadows
.icon.cart-green, .icon.search, .icon.go-green {
	box-shadow: 0 4px 8px rgba(0,0,0,0.7);
	background-color: #fff;
}
.icon.cart-green, .icon.search, .icon.go-green {
	border-radius: 29px;
}
.icon.order {
	border: 3px solid #fff;
	border-radius: 20px;
	margin-top: -30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/assets/images/SE-icons_order-btn.png); 
	background-image: linear-gradient(transparent, transparent), url(/assets/images/SE-icons_order-btn.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 50%;
	max-width: 106px;
	height: 0;
	padding-top: 15%;
}

.productdetail-section .icon.order {
	width: 100px;
	padding-top: 6%;
	margin: 0;
	margin-top: -3px;
}


.icon.cart {
	border-radius: 50%;
	margin-top: -45px;
	margin-bottom: -10px;
	display: block;
	margin-left: auto;
	margin-right: 5px;
	background-image: url(/assets/images/SE-icons_cart-green.png); 
	background-image: linear-gradient(transparent, transparent), url(/assets/images/SE-icons_cart-green.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 50px;
	max-width: 106px;
	height: 50px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.7);
}


// Hover states
.icon.cart-green:hover, .icon.search:hover, .icon.go-green:hover {
	box-shadow: 0 2px 4px rgba(0,0,0,0.7);
}


// Checkmark
.icon.check-circle {
	opacity: 0.6;
	min-width: 35px;
}
.icon.check-circle:hover {
	opacity: 1;
}

.mainheader-section .icon.dintidning-se {
	margin-top: 20px;
	margin-bottom: 20px;
}

// Dintidning.se logo in footer
footer .icon.dintidning-se {
	margin-top: 0px;
}

// Tagline
.icon.tagline {
	margin: 8px 0 0;
}

// Search
.icon.search {
	position: absolute;
	right: 6px;
	top: -4px;
}

// Go

.icon.go-square-black-small {
	position: absolute;
	right: 0;
	top: 0;
}
// Campaign icon
.icon.d-star {
	margin-top: -34px;
}

.icon.prev, .icon.next {
	position: absolute;
	top: 50%;
	margin-top: -42px;
	z-index: 10;
	cursor: pointer;
	opacity: 0.5;
}
.icon.prev {
	left: 10px;
}
.icon.next {
	right: 10px;
}
.icon.prev:hover {
	opacity: 0.6;
}
.icon.next:hover {
	opacity: 0.6;
}

.input-wrapper {
	position: relative;
	margin-top: -3px;
}

.icon.down-small {
	position: absolute;
	right: 0;
	top: 0;
}



// Icon fonts

@font-face {
	font-family: 'icomoon';
	src:url('/assets/fonts/icons/fonts/icomoon.eot?ym2uiw');
	src:url('/assets/fonts/icons/fonts/icomoon.eot?#iefixym2uiw') format('embedded-opentype'),
		url('/assets/fonts/icons/fonts/icomoon.ttf?ym2uiw') format('truetype'),
		url('/assets/fonts/icons/fonts/icomoon.woff?ym2uiw') format('woff'),
		url('/assets/fonts/icons/fonts/icomoon.svg?ym2uiw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dt_bigbubble:before {
	content: "\e600";
}
.icon-dt_camera-circle:before {
	content: "\e601";
}
.icon-dt_cart-circle:before {
	content: "\e602";
}
.icon-dt_cart:before {
	content: "\e603";
}
.icon-dt_check-circle:before {
	content: "\e604";
}
.icon-dt_close:before {
	content: "\e605";
}
.icon-dt_closeup-corner:before {
	content: "\e606";
}
.icon-dt_d-circle:before {
	content: "\e607";
}
.icon-dt_down-arrow:before {
	content: "\e608";
}
.icon-dt_e-circle:before {
	content: "\e609";
}
.icon-dt_facebook-circle:before {
	content: "\e60a";
}
.icon-dt_gift-circle:before {
	content: "\e60b";
}
.icon-dt_go-circle:before {
	content: "\e60c";
}
.icon-dt_issues:before {
	content: "\e60d";
}
.icon-dt_next:before {
	content: "\e60e";
}
.icon-dt_prev:before {
	content: "\e60f";
}
.icon-dt_preview-circle:before {
	content: "\e610";
}
.icon-dt_right-arrow:before {
	content: "\e611";
}
.icon-dt_search:before {
	content: "\e612";
}
.icon-dt_smallbubble:before {
	content: "\e613";
}
.icon-dt_total-arrow:before {
	content: "\e614";
}
.icon-dt_twitter-circle:before {
	content: "\e615";
}
.icon-dt_user-circle:before {
	content: "\e616";
}
.icon-dt_user:before {
	content: "\e617";
}



