.checkout-section .checkout-product .product-info {
  margin-top: 0px;
  margin-right: 0px;
}
.univers-form{background:#f5f5f5;margin-top:20px;margin-bottom:20px;}
.univers-form input{margin-bottom:10px;}
 
.standard-section .white-bg {
  background: #FFF;
  padding: 10px;
  position: relative;
  font-size: 18px;
}
 
.faq-block
{
}
 
.faq-block ul{font-size:14px!important;padding-left:20px;}
 
.footer-right-column{overflow:hidden;}