//Bootstrap mods
$navbar-height: 40px;
$navbar-inverse-link-color: #fff;
$body-bg: rgb(135,134,141);
$grid-gutter-width: 15px;
$grid-float-breakpoint: 768px;
$screen-xs: 420px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 950px;
// $container-lg: 950px;
$container-tablet: (600px + $grid-gutter-width);
$container-desktop: (720px + $grid-gutter-width);
$container-large-desktop: (940px + $grid-gutter-width);

// Typography
$font-family-condensed: 'antoniobold', Arial, sans-serif;
$font-family-base: 'Open Sans', Arial, sans-serif;
$icon-font-path: '/assets/fonts/bootstrap/';
$slick-font-path: '/assets/fonts/slick/fonts/';
$slick-loader-path: '/assets/images/';


// Colors
$grey-dark-dark: rgb(135,134,141);
$grey-dark-medium: rgb(194,194,197);
$grey-light-medium: rgb(204,208,208);
$grey-light-light: rgb(226,226,227);
$blue: rgb(164,216,222);
$green: rgb(189,201,0);
$red: rgb(230,0,126);

// Shadow
$box-shadow: 0 2px 4px rgba(0,0,0,0.8);


