.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.svg);
}
.icon-dt_bigbubble {
	width: 96px;
	height: 96px;
	background-position: 0 0;
}
.icon-dt_camera-circle {
	width: 96px;
	height: 96px;
	background-position: -112px 0;
}
.icon-dt_cart-circle {
	width: 96px;
	height: 96px;
	background-position: -224px 0;
}
.icon-dt_cart {
	width: 96px;
	height: 96px;
	background-position: -336px 0;
}
.icon-dt_check-circle {
	width: 96px;
	height: 96px;
	background-position: -448px 0;
}
.icon-dt_close {
	width: 96px;
	height: 96px;
	background-position: -560px 0;
}
.icon-dt_closeup-corner {
	width: 96px;
	height: 96px;
	background-position: -672px 0;
}
.icon-dt_d-circle {
	width: 96px;
	height: 96px;
	background-position: -784px 0;
}
.icon-dt_down-arrow {
	width: 96px;
	height: 96px;
	background-position: -896px 0;
}
.icon-dt_e-circle {
	width: 96px;
	height: 96px;
	background-position: -1008px 0;
}
.icon-dt_facebook-circle {
	width: 96px;
	height: 96px;
	background-position: -1120px 0;
}
.icon-dt_gift-circle {
	width: 96px;
	height: 96px;
	background-position: -1232px 0;
}
.icon-dt_go-circle {
	width: 96px;
	height: 96px;
	background-position: -1344px 0;
}
.icon-dt_issues {
	width: 96px;
	height: 96px;
	background-position: -1456px 0;
}
.icon-dt_next {
	width: 96px;
	height: 96px;
	background-position: -1568px 0;
}
.icon-dt_prev {
	width: 96px;
	height: 96px;
	background-position: -1680px 0;
}
.icon-dt_preview-circle {
	width: 96px;
	height: 96px;
	background-position: 0 -112px;
}
.icon-dt_right-arrow {
	width: 96px;
	height: 96px;
	background-position: -112px -112px;
}
.icon-dt_search {
	width: 96px;
	height: 96px;
	background-position: -224px -112px;
}
.icon-dt_smallbubble {
	width: 96px;
	height: 96px;
	background-position: -336px -112px;
}
.icon-dt_total-arrow {
	width: 96px;
	height: 96px;
	background-position: -448px -112px;
}
.icon-dt_twitter-circle {
	width: 96px;
	height: 96px;
	background-position: -560px -112px;
}
.icon-dt_user-circle {
	width: 96px;
	height: 96px;
	background-position: -672px -112px;
}
.icon-dt_user {
	width: 96px;
	height: 96px;
	background-position: -784px -112px;
}
