@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ym2uiw');
	src:url('fonts/icomoon.eot?#iefixym2uiw') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ym2uiw') format('truetype'),
		url('fonts/icomoon.woff?ym2uiw') format('woff'),
		url('fonts/icomoon.svg?ym2uiw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dt_bigbubble:before {
	content: "\e600";
}
.icon-dt_camera-circle:before {
	content: "\e601";
}
.icon-dt_cart-circle:before {
	content: "\e602";
}
.icon-dt_cart:before {
	content: "\e603";
}
.icon-dt_check-circle:before {
	content: "\e604";
}
.icon-dt_close:before {
	content: "\e605";
}
.icon-dt_closeup-corner:before {
	content: "\e606";
}
.icon-dt_d-circle:before {
	content: "\e607";
}
.icon-dt_down-arrow:before {
	content: "\e608";
}
.icon-dt_e-circle:before {
	content: "\e609";
}
.icon-dt_facebook-circle:before {
	content: "\e60a";
}
.icon-dt_gift-circle:before {
	content: "\e60b";
}
.icon-dt_go-circle:before {
	content: "\e60c";
}
.icon-dt_issues:before {
	content: "\e60d";
}
.icon-dt_next:before {
	content: "\e60e";
}
.icon-dt_prev:before {
	content: "\e60f";
}
.icon-dt_preview-circle:before {
	content: "\e610";
}
.icon-dt_right-arrow:before {
	content: "\e611";
}
.icon-dt_search:before {
	content: "\e612";
}
.icon-dt_smallbubble:before {
	content: "\e613";
}
.icon-dt_total-arrow:before {
	content: "\e614";
}
.icon-dt_twitter-circle:before {
	content: "\e615";
}
.icon-dt_user-circle:before {
	content: "\e616";
}
.icon-dt_user:before {
	content: "\e617";
}
