/.offer-section-yousave-explanation {
    color: darkgray;
    margin-left: 8px;
}

.categorynav-section > ul > li ul h4 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px !Important;
}

.univers-approval {
    margin-top: 30px;
}

.activate-digital-subscription-form {
    background: #E2E2E3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.ocr-payment-options input[type="radio"] {
    margin-left: 3px !Important;
}

.ocr-payment-options {
    margin-left: -10px !Important;
}


.productlist-section .productimage {
    border: 1px solid #bbb !Important;
}

h1 {
    font-size: 24px !Important;
}

h2 {
    font-size: 20px !Important;
}

h3 {
    font-size: 16px !Important;
}


span.cookie-consent-container {
    margin-right: 10px;
    font-size: 13px;
}

.cookie-alert button {
    padding-left: 10px;
    padding-right: 10px;
}

.warning-margin {
    margin-top: 30px !Important;
    margin-bottom: 30px !Important;
}

div.reciept-item {
    padding-bottom: 20px;
}

.terms-modal {
    overflow-x: auto;
    height: 85vh;
}

.modal-body {
}

.loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

    .loading-cover .loading {
        position: fixed;
        z-index: 999;
        height: 3em;
        width: 3em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

.gift-card-row {
    width: 77.8%;
    margin: 0 auto;
}

/* Phone styling fixes */
@media (max-width: 640px) {
    div.footer-introtext {
        margin-top: 10px;
    }
}

.radioBtnHolder {
    display: none;
}

.specialoffer {
    display: none;
}


.checkout-campaign-shipto {
    display: none;
}






















