.categorynav-section {

	text-align: center;
	padding-top: 0;
	
	>ul {

		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		display: block;
		margin: 0 -1px;
		font-size: 10px;
		
		>li {

			float: left;
			width: 16.66667%;
			

			>a {
				display: block;
				background: $grey-light-light;
				padding: 4px;
				color: #000;
				border: 1px solid #fff;
			}
			>a:hover {
				text-decoration: none;
				background: $grey-light-medium;
			}
			> ul {
				visibility: hidden;
				// display: none;
				position: absolute;
				top: 25px;
				left: 1px;
				right: 1px;
				background: #fff;
				margin: 0;
				padding: 20px;
				list-style: none;
				box-shadow: 0 4px 3px rgba(0,0,0,0.5);
				border: 1px solid $red;
				z-index: 999;
			}
			
			ul {
				
				// Mega menu
				
				ul {
					list-style: none;
					text-align: left;
					margin-left: 0;
					padding-left: 0;
				}
								
				li a {
					text-align: left;
					color: $grey-dark-dark;
				}
				li a:hover {
					// text-decoration: none;
					color: #000;
				}
				h4 {
					text-align: left;
					margin-top: 0;
				}

			}

		}
		>li.open>ul {
			visibility: visible;
			// display: block;
		}
		
		>li.dynamic {
// 			display: none;
			width: 33.333%;
		}
		>li.static {
			width: 33.333%;
		}
		
		>li.static>a {
			background: #000;
			color: #fff;
		}
		>li.static.open>a {
			background: $red;
		}
		
	}


} // categorynav-section



/* X Small devices (tablets, 320px and up) */
@media (min-width: $screen-xs-min) {
	
}


/* Small devices (tablets, 640px and up) */
@media (min-width: $screen-sm-min) {

	.categorynav-section {
		
		>ul {
			
				>li.dynamic {
					width: 16.66667%;
				}
				>li.static {
					width: 16.66667%;
				}
				
				>li>ul li a {
					width: 33.333%;
				}
				
		}

	}
	
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: $screen-md-min) {

	.categorynav-section {
	
		>ul {
			font-size: 14px;
		}
		>ul>li>ul {
			top: 28px;
		}

		>ul>li ul li a {
			width: 20%;
		}


	
	}
	
}

/* Large devices (large desktops, 950px and up) */
@media (min-width: $screen-lg-min) {
	
}