.checkout-section {
		
	> div > div, > div > h4 {
		background: $grey-light-light;
		padding: 10px;
		margin-bottom: 10px;
	}

	.shipto-form {
		margin-top: 10px;
	}

	.thumbnail-offer {
		width: 60px;
		height: 60px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left top;
		background-color: transparent;
		float: left;
		cursor: pointer;
	}

	.radio, .checkbox {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.radio:last-child, .checkbox:last-child, .checkbox.shipto-checkbox {
		margin-bottom: 0;
	}


	.form-control {
		margin-bottom: 5px;
		border: 1px solid $grey-dark-medium;
		border-radius: 0;
	}
	.form-control:last-child {
		margin-bottom: 0;
	}

	
	.checkout-header {
		
		position: relative;
		text-transform: uppercase;
		font-weight: 400;
		margin-top: 50px;
		
		.step {
			display: block;
			position: absolute;
			right: 10px;
			bottom: 10px;
			font-family: $font-family-condensed;
			font-size: 34px;
			background: $grey-dark-dark;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			text-align: center;
			line-height: 60px;
			border: 4px solid #fff;
			color: #fff;
		}
	}
	
	.checkout-product {
		
		overflow: hidden;
		
		.price {
			color: $red;
			text-transform: uppercase;
			font-weight: 700;
		}
		
		.checkout-shipto {
			margin-top: 5px;
			
			.ammount {
				margin-top: 7px;
			}
		}
		
		.remove-product {
			display: block;
			text-align: right;
			margin-bottom: 4px;
			cursor: pointer;	
			margin-top: -4px;
			margin-right: -5px;
			font-size: 20px;	
			color: $grey-dark-dark;
			float: right;
			
			&:hover {
				text-decoration: none;			}
		}
		.remove-product.icon-dt_close:before {
			border-radius: 50%;
		}

		
		.product-info {
			margin-top: -22px;
			margin-right: 20px;
			overflow: hidden;
		}
		
		.thumbnail-offer {
			margin-bottom: 10px;
			height: 68px;
		}
		
		.radio label .thumbnail-offer {
			margin-left: -20px;
			margin-right: 20px;
		}
		
	}
	
	.checkout-product.selected {
		background: $green;
	}
	
	
	.checkout-shipto {
		
		
		.checkbox {
			margin-top: 10px;
		}
		.shipto-save, .shipto-edit, .shipto-cancel {
			border: 1px solid $grey-dark-medium;
			background: #fff;
			padding: 5px;
			font-weight: 700;
			color: $grey-dark-dark;
			cursor: pointer;
			float: right;
			margin-left: 5px;
		}
		
		.shipto-edit {
			display: none;
			border: none;
			background: none;
			font-size: 24px;
		}
		
		.shipto-saved {
			font-weight: 700;
		}
	}
	
	.checkout-billto {
		
		
	}
	
	.checkout-offer {
		background: $blue;
	}
	
	.checkout-total {
		
		position: relative;
		line-height: 40px;
		padding-left: 30px;
		font-size: 10px;
		text-transform: uppercase;
		background: #fff;
		
		.icon-dt_total-arrow {
			position: absolute;
			top: 0;
			left: -19px;
			font-size: 60px;
		}
		.price {
			position: absolute;
			right: 0;
			font-size: 20px;
			font-weight: 700;
			color: $red;
		}
	}
	
	.checkout-payment {
		img {
			margin-bottom: 10px;
		}
	}
	
	button.checkout-pay {
		background: $green;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
		display: block;
		border: none;
		width: 100%;
		padding: 16px;
		font-size: 22px;
		
	}
	
}



@media (min-width: $screen-lg-min) {

	.checkout-section {
		
		.checkout-total {
			
			position: relative;
			line-height: 40px;
			padding-left: 30px;
			font-size: 14px;
			text-transform: uppercase;
			background: #fff;
			
			.icon-dt_total-arrow {
				position: absolute;
				top: 0;
				left: -19px;
				font-size: 60px;
			}
			.price {
				position: relative;
				float: right;
				font-size: 24px;
				font-weight: 700;
				color: $red;
			}
		}
	}

	
}
