.customerservice-section {
	
	background: #fff;
	font-size: 24px;
	border-top: 2px solid $grey-light-medium;
	border-bottom: 2px solid $grey-light-medium;
	padding: 15px 0 5px;
	text-align: center;

	.divider {
		padding: 0 15px;
	}
	
}