.divider-section {

	background: $grey-light-medium;
	padding: 7px;
	text-transform: uppercase;
	
	.input-wrapper {
		line-height: 26px;
		text-transform: none;
	}

	.sort-order {
		width: auto;
		padding: 0 5px;
		height: 26px;
		border: 1px solid #000;
		border-radius: 0;
		margin-left: 6px;
	}

}


// Variations

.divider-section.divider-offer {
	
	background: $blue;
	color: #fff;
	font-style: normal;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	
}

.divider-section.divider-offer.red {
	background: $red;
}

.divider-section.divider-offer.blue {
	background: $blue;
}