.mainheader-section {
  
    padding: 60px 15px 15px;
  	
	.logo {
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.mag-search {
		margin-bottom: 20px;
		
		.icon-dt_right-arrow, .icon-dt_search {
			background-color: #fff;
		}
	}
	.mag-search:last-child {
		margin-bottom: 0px;
		
		input {
			height: 34px;
		}
		
	}
	
	.mag-search input {
		height: 52px;
		width: 100%;
		border-radius: 4px;
		border: 1px solid #000;
		padding: 0 10px;
		font-size: 18px;
	}
		
	.campaign {
		margin-top: 	30px;
		background: $grey-light-light;
		padding: 10px;
		text-align: center;
	}
	
	.campaign input {
		width: 100%;
		height: 26px;
		padding: 0 10px;
		border: 1px solid #000;
	}
	
	.campaign-label {
		margin-bottom: 2px;
	}
	
	.icon-dt_search, .icon-dt_right-arrow {
		position: absolute;
		right: 8px;
		font-size: 52px;
		border: none;
		background: none;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	
	.icon-dt_right-arrow {
		font-size: 34px;
	}
	.icon-dt_right-arrow:before {
		margin-right: -1px;
	} 
 
	.icon-dt_search:before {
		margin-right: -1px;
	}
	
	.kampkodtext {
		margin-top: -3px;
	}
  
}

.page-warning .alert {
	margin-bottom: 0;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

	.mainheader-section .mag-search {
		margin-bottom: 0;
	}

	
}

@media (min-width: $screen-lg-min) {

	.mainheader-section {
		
		.logo {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: auto;
		}
		.campaign {
			margin-top: 	0;
		}
		.mag-search {
			margin-top: 	20px;
			margin-bottom: 0;
		}
		
	}

	
}

