.modal {
	
	.modal-offer-image {
		padding: 20px;
		border: 1px solid #ccc;
		background-color: #fff;
		margin-bottom: 20px;
		
	}
	.modal-offer-image.no-padding {
		padding: 0;
		margin-bottom: 0;
	}
	
	.modal-offer-image > div {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		padding-top: 100%;
		height: 0;
	}
	
	.row {
		padding-bottom: 10px;
	}
	.row:last-child {
		padding-bottom: 0;
	}	
	
	
}


@media (min-width: $screen-sm-min) {

	.modal-sm {
		min-width: 400px;
	}

}