.offer-section {
	
	.wrapper {
		background: $grey-light-light;
		padding: 10px;
		overflow: hidden;
	}
	.offer-image {
		float: left;
		width: 50%;
		position: relative;
		cursor: pointer;
	}
	.offer-image-container {
		background: #fff;
		border: 1px solid #000;
		padding: 10px;
	}
	.offer-image-container > div {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		padding-top: 120%;
		height: 0;
	}	



	.offer-image .icon.zoom {
		position: absolute;
		bottom: 0px;
		right: 0;
		cursor: pointer;
	}
	.offer-text {
		float: right;
		width: 50%;
		position: relative;
		text-align: center;
		padding-left: 10px;
		padding-bottom: 35px;
		
		h3 {
			font-size: 20px;
		}
	}
	
	.pitch {
		color: $red;
		margin-top: 0;
	}
	
	.issues {
		font-size: 20px;
		font-weight: 300;
		margin-top: 0px;
	}
	
	.description, .price {
		font-weight: 700;
		font-size: 12px;
	}
	
	.shipping {
		
	}
	
	
	.orderbtn {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	
}


@media (min-width: $screen-xs) { // 420px

	.offer-section {

		.pitch {
			margin-top: 0px;
		}
		.issues {
	        font-size: 35px;
	        margin-top: 5px;
		}

	}
	
}

@media (min-width: $screen-sm) { // 640px

	.offer-section {

		.pitch {
        	margin-top: 0;
		}
		.issues {
	        font-size: 20px;
	        margin-top: 0px;
		}


	}

}

@media (min-width: $screen-md) { // 768px

	.offer-section {

		.pitch {
        	margin-top: 0;
		}
		.issues {
	        font-size: 35px;
	        margin-top: 5px;
		}
		.description, .price {
			font-size: 14px;
		}

	}
	
}

@media (min-width: $screen-lg) { // 950px

	.offer-section {
		
		.title {
			font-size: 20px !important;
		}

		.pitch {
			color: $red;
			margin-top: 0px;
		}
		.issues {
	        font-size: 35px;
	        margin-top: 5px;
		}
		
		.offer-text {
			padding-bottom: 50px;
		}
		.description, .price {
			font-size: 16px;
		}

	}
	
}

