.productlist-section {
	
	.productcard {
		margin-bottom: 15px;
		
		a {
			color: #000;
		}
	}
	.offer {
	}
	.offer span {
		text-transform: uppercase;
		color: $red;
		font-weight: 700;
	}
	
	.productimage {
		height: 0;
		padding-top: 138%;
		background-color: #fff;
		background-position: center top;
		background-size: cover;
	}

	.productimage.product {
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	img {
		border: 1px solid #000;
	}
	
	h4 {
		font-size: 12px;
		margin-bottom: 0px;
	}
	
}


// Variations

.productlist-section.oldproduct {
	
	h4 span {
		font-weight: 400;
	}
	
}


/* X Small devices (tablets, 320px and up) */
@media (min-width: $screen-xs) {

	.productlist-section {

		h4 {
			font-size: 18px;
		}
	
	}
	
}

/* Small devices (tablets, 640px and up) */
@media (min-width: $screen-sm) {

	.productlist-section {

		h4 {
			font-size: 14px;
		}
	
	}

}

/* Medium devices (desktops, 768px and up) */
@media (min-width: $screen-md) {


	
}

/* Large devices (large desktops, 950px and up) */
@media (min-width: $screen-lg-min) {

	.productlist-section {

		h4 {
			font-size: 18px;
		}
	
	}
	
}
