.producttabs-section {
	
	.nav-tabs {
		border-bottom: 4px solid #000;
		margin-bottom: 10px;
	}
	
	.tab-content > .tab-pane {
		margin-bottom: 30px;
	}
	
	.nav > li > a {
		padding: 5px 20px;
	}
	
	.nav-tabs > li > a {
		background: $grey-dark-medium;
		color: #000;
		border-bottom: 1px solid #000;
		border-radius: 0;
	}
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background: #000;
		color: #fff;
		font-weight: 400;
		border: 1px solid #000;
	}
	
	
}