.productdetail-section {
	
	.product-image > div {
		border: 1px solid #ccc;
		padding: 10px 5%;
		position: relative;
	}
	
	.product-image > div .preview {
		position: absolute;
		bottom: 20px;
		right: 20px;
		cursor: pointer;
		border: 4px solid #fff;
		border-radius: 50%;
		box-shadow: $box-shadow;
		background-color: #000;
	}
	
	.product-image > div img {
		box-shadow: $box-shadow;
	}
	
	.product-header {
		border-top: 6px solid #000;
		margin-top: 0;
		padding-top: 15px;
	}
	
	.product-description {
		margin-bottom: 15px;
	}
	
	.whatyouget {
		
		display: none; //Temp. until feature is added
		margin-bottom: 20px;
	}
	
	.rating {
		display: none; //Temp. until feature is added
	}
	
	.whatyouget .wrapper{
		padding: 10px 10px 0;
	}
	
	.wrapper .row > div {
		margin-bottom: 10px;
	}
	
	.social {

		font-style: italic;
		color: $grey-dark-dark;
		
		span {
			margin-right: 6px;
		}
		
		.icon.inline-icon {
			margin-right: 1px;
		}
		.icon.star {
			opacity: 0.5;
		}
		.icon.star:hover, .icon.star.rated {
			opacity: 1.0;
		}



		.rating_selection {

			text-align: center;
			font-style: normal;
			float: right;
			margin-top: -8px;

			label:first-of-type {
			  display: none;
			}
			input[type='radio'],
			span {
			  display: none;
			}
			label {
			  cursor: pointer;
			}
			label:before {
			  display: inline-block;
			  content: "★";
			  font-size: 25px;
			  letter-spacing: 4px;
			  color: #e9cd10;
			}
			input:checked + label ~ label:before {
			  color: #aaa;
			}

		}

		.rating_selection:hover label[for]:before {
		  color: #e9cd10;
		}
		.rating_selection:hover label:hover ~ label:before {
		  color: #aaa;
		}

	}
	
	.order-field {
		
		background: $grey-light-light;
		padding: 10px;
		position: relative;
		margin-right: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
		
		input {
			width: 45px;
		}
		
		.product-price {
			display: inline;
			margin-right: 50px;
			font-size: 24px;
			font-weight: 700;
		}
		
		button.icon-dt_cart-circle {
			border: none;
			background: none;
			padding: 0;
			margin: 0;
			font-size: 72px;
			border: 6px solid #fff;
			border-radius: 50%;
			position: absolute;
			right: -30px;
			top: -13px;
			background: #fff;
			color: $green;
			height: 80px;
			width: 80px;
			overflow: hidden;
		}
		button.icon-dt_cart-circle:before {
			position: absolute;
			top: -2px;
			left: -1px;
		}
		
	}
	
}