.salesargs-section {

	background: #fff;
	padding: 0 15px;
	
	.row>div {
		padding-top:15px;
		padding-bottom:15px;
	}
	
}

@media (min-width: $screen-xs) {

	.salesargs-section {
		.col-sm-6 {
			float: left;
			width: 50%;
		}
	}
	
}

@media (min-width: $screen-sm) {

	
}


@media (min-width: $screen-md) {

	.salesargs-section {
		.col-sm-6 {
			float: left;
			width: 25%;
		}
	}

	
}

@media (min-width: $screen-lg) {
	
}