.slider-section {
	
	max-height: 307px;
	overflow: hidden;

	.slick-dots {
		display: none !important;
	    position: relative;
	    bottom: 0;
	    padding: 5px 0 0 0;
	    width: 100%;
	}
	.slick-prev, .slick-next {
		height: 40px;
		width: 40px;
		background: fuchsia;
		top: 45%;
	}
	.slick-prev {
		left: 10px;
	}
	.slick-next {
		right: 10px;
	}
	.slick-dots li button::before {
		font-size: 12px;
	}

}



/* X Small devices (tablets, 320px and up) */
@media (min-width: $screen-xs-min) {
	
}

/* Small devices (tablets, 640px and up) */
@media (min-width: $screen-sm-min) {

	.slider-section {
	
		.slick-dots {
			display: block !important;
		}
	}
	

}

/* Medium devices (desktops, 768px and up) */
@media (min-width: $screen-md-min) {
	
}

/* Large devices (large desktops, 950px and up) */
@media (min-width: $screen-lg-min) {
	
}