.standard-section {
	
	.login-form {
		
		h2 {
			border-bottom: 6px solid #000;
			padding-bottom: 10px;
			margin-top: 30px;
		}
		
		
		
		
	}


	.formwrapper {
		position: relative;
		
		button.icon-dt_right-arrow {
			position: absolute;
			right: 0;
			border: none;
			padding: 0;
			margin: 1px 0 0 0;
			font-size: 32px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			overflow: hidden;
		}
		
	}

	
	
	.contact {
		background: $grey-light-light;
		padding: 10px;
		position: relative;
		font-size: 18px;
		
		.bubbletext {
			text-align: center;
			position: absolute;
			top: 90px;
			left: 0;
			right: 0;
			font-family: $font-family-condensed;
			font-size: 28px;
			color: #fff;
		}
		.icon-dt_bigbubble {
			margin-bottom: 10px;
		}
		.icon-dt_bigbubble:before {
			font-size: 200px;
			color: $grey-dark-medium;
		}
		
		.call-back {
			border-top: 1px solid $grey-dark-dark;
			margin-top: 10px;
			padding-top: 10px;
		}
		
		.formwrapper {
			margin-top: 10px;
		}
		

	}
	
	.mail-contact-form {
		
		background: $grey-light-light;
		padding: 10px;
		
		input {
			margin-bottom: 10px;
		}
		.row {
			margin-top: 10px;
		}
		.send {
			margin-top: 10px;
		}
	}
	
	
	// MyPage
	
	.mypage {
		
		.row	h2 {
			margin-top: 30px;
		}
		.row:first-child h2 {
			margin-top: 0;
		}
			
		.subsection {
			margin-bottom: 20px;
		}
		
		
		.mycover img {
			max-width: 120px;
			float: right;
		}
		
		h4 {
			border-top: 6px solid #000;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 18px;
			margin-top: 0;
		}
		
		.infobox {
			background: $grey-light-light;
			padding: 10px;
			font-weight: 700;
			
						
			p:last-child {
				margin-bottom: 0;
			}
			
			span {
				font-weight: 400;
			}
			
			input, select {
				margin-bottom: 10px;
				font-weight: 400;
			}
			
			.timespan-header {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.btn-default {
				margin-top: 10px;
			}
		}
		
		
		
		
	}
	
	
	
}


// ! Variations

.standard-section.reciept {


	h3 {
		font-size: 18px;
	}
	.reciept-details{
		.equalheight {
			display: flex;
			flex-direction: column;
		}
		hr {
			border-top: 7px solid #000;
			margin-bottom: -10px;
		}
		.infobox {
			background: $grey-light-light;
			padding: 14px;
			flex: 1;
		}
		.salesitem {
			margin-bottom: 30px;
		}
		.salesitem:last-child {
			margin-bottom: 0;
		}
	}
	

}



@media (max-width: $screen-xs-min) {

	.standard-section {
		.mypage {
			.infobox {
				span.pull-right {
					display: block;
					float: none !important;
				}
			}
		}
	}
	
}



@media (min-width: $screen-sm-min) {

	
}
