.tagline-section {
	
	background: #000;
	line-height: 30px;
	color: #fff;
	font-size: 9px;
	padding: 0 15px;
	text-align: center;

	a {
		color: #fff;
		text-decoration: none;
	}
		
	
}

/* X Small devices (tablets, 320px and up) */
@media (min-width: $screen-xs) {

	.tagline-section {

		font-size: 14px;
		text-align: left;
		
	}

	
}

/* Small devices (tablets, 640px and up) */
@media (min-width: $screen-sm) {



}

/* Medium devices (desktops, 768px and up) */
@media (min-width: $screen-md) {
	
}

/* Large devices (large desktops, 950px and up) */
@media (min-width: $screen-lg) {
	
}