.topnav-section {
	
	font-weight: 400;
	border-bottom: none;
	
	.container {
		padding: 0 7px;
		position: relative;
	}
	.navbar-toggle {
	    margin-left: 15px;
	    padding: 3px 3px 0px;
	    margin-top: 6px;
	    margin-bottom: 6px;
	    background-color: transparent;
	    background-image: none;
	    border: 2px solid #fff;
	    border-radius: 0;
	    color: #fff;
	    float: left;
	}
	.navbar-toggle span {
	    font-size: 16px;
	    line-height: 16px;
	}
	.navbar-brand {
		padding: 2px 0 0 0;
	}
	.cart {
		background: rgb(204,208,208);
		height: 42px;
	}
	.cart.product-added {
		background: $green;
	}
	.navbar-nav > li.cart a {
		color: #000;
	}
	.cart .badge {
		background: #fff;
		color: #000;
		margin-left: 6px;
	}

	.static-items {
		
		.navbar-nav {
			margin: 0;
		}
		
	}

	.icon.d-white-circle {
		position: absolute;
		top: 3px;
		left: 14px;
		display: none;
	}



}



@media (min-width: $screen-md-min) {

	.static-items, .categorynavmenu {
		display: none;
	}
	
	.topnav-section .icon.d-white-circle {
		display: block;
	}
	
}

